body {
	font-family: Arial, sans-serif;
	font-size: 13px;
	cursor: auto;
}

a:hover {
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: #404040;
}

#header {
	float: right;
}

li {
	list-style-type: none;
	display: inline-block;
	color: gray;
	margin: 9px;
	position: relative;
	right: 10px;
	top: -10px;
}

.topWords {
	position: relative;
	top: -10px;
}

#options {
	position: relative;
	top: -7px;
}

#notifications {
	position: relative;
	top: -5px;
}

#gplus img {
	border-radius: 20px;
}

.main {
	position: relative;
	top: 190px;
	left: 535px;
}

#box {
	position: relative;
	right: 170px;
	height: 35px;
	width: 600px;
	border-color: #e5e5e5;
	border-width: 1px;
	border-style: solid;
}

form img {
	float: left;
	position: relative;
	height: 30px;
	width: 25px;
	left: 420px;
	top: 4px;
}

.button {
	border: none;
	padding: 10px 20px 10px 20px;
	font-weight: bold;
	color: #787878;
	background-color: #f0f0f0;
}

.button:hover {
	border: solid .1px;
	color: black;
}

.footer {
	position: absolute;
	bottom: 0px;
	border-top: solid #e8e8e8 1px;
	background-color: #f0f0f0;
	height: 40px;
	width: 100%;
	line-height: 45px;
	font-size: 1em;
}

.footer_left {
	float: left;
	margin-left: 20px;
}

.footer_right {
	float: right;
	margin-right: 20px;
}